<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Request</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">

  <ion-list>
    <ion-item>
      <ion-label floating>Request Title</ion-label>
      <ion-input type="text" [(ngModel)]="requestTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Request Desc</ion-label>
      <ion-textarea id="textReq" [(ngModel)]="requestDesc"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-button>
        <button ion-button full clear padding-left (press)="addCategory()" (click)="presentPopover($event)">
            {{ reqCate }}
        </button>
      </ion-button>
    </ion-item>    
  </ion-list>
  <div padding>
    <button ion-button round full (click)="submitRequest()">Submit Request</button>
  </div>

</ion-content>
