<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222" padding>

  <ion-list>
    <ion-item>
      <ion-label floating>User Name </ion-label>
      <ion-input type="string" [(ngModel)]="uname" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Full Name </ion-label>
      <ion-input type="string" [(ngModel)]="fullname" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password </ion-label>
      <ion-input type="password" [(ngModel)]="password" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email </ion-label>
      <ion-input type="string" [(ngModel)]="email" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone </ion-label>
      <ion-input type="number" [(ngModel)]="phone" clearInput></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full round (click)="register()">Register</button>
</ion-content>