<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Gallery</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="mediaViewSwitch( )" > <p padding-right>Toggle View</p>
        <ion-icon button *ngIf="!toggleMediaView" name="reorder"></ion-icon>
        <ion-icon button *ngIf="toggleMediaView" name="apps"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">
  <ion-title *ngIf="!userService.eventMedia" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
  <div *ngIf="!toggleMediaView">
  <ion-grid *ngIf="userService.eventMedia">
    <ion-row *ngFor="let row of grid">
      <ion-col width-70 *ngFor="let file_uri of row" >
        <div *ngFor="let t of userService.eventMedia">
          <div *ngIf="t.url == file_uri" style="text-align: center">
            <img height='120px' *ngIf="file_uri" [src]="file_uri" (click)="showImage( file_uri, t.event_desc )">
            <!--<p style="margin-top: 0px">Event Name: {{ t.event_name }}</p>-->
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <div *ngIf="toggleMediaView">
    <ion-grid *ngIf="userService.eventMedia">
      <ion-row *ngFor="let m of userService.eventMedia">
        <ion-col style="text-align: center; align-content: center">
          <img (click)="showImage( m.url, m.event_desc )" [src]="m.url">
            <p style="margin-top: 0px; color: whitesmoke">Event Name: {{ m.event_name }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
