page-gallery {

ion-spinner {
    display: block;
    margin: auto;
}

// ion-grid {
//     display: block; 
//     width: 100%;
//     height: 100%;
//     margin-left: auto; 
//     margin-right: auto;
// }

ion-col {
    display: block; 
    width: 100%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
}

// img {
//     display: block;
//     width: 100%;
//     height: 100%;
// }

}
