<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Find User</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222" >
  <ion-searchbar (ionInput)="findUser($event)"></ion-searchbar>
  <!--<ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>-->
  <ion-list>
    <ion-item *ngIf="userService.foundUser">
      <ion-title *ngIf="userService.foundUser != 404" padding> Found Username {{ userService.foundUser.uname }}</ion-title>
      <ion-title *ngIf="userService.foundUser == 404" padding>User Not Found</ion-title>
    </ion-item>
    <ion-item *ngIf="userService.foundUser && userService.foundUser != 404">
      <ion-card>
        <ion-card-header>
          <ion-title (click)="userDetails(userService.foundUser.uname)" >Username: {{ userService.foundUser.uname }}</ion-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              Name: {{ userService.foundUser.fullname }}
            </ion-item>
            <!--<ion-item>
              Email: {{ userService.foundUser.email }}
            </ion-item>
            <ion-item>
              Phone No: {{ userService.foundUser.phone }}
            </ion-item>-->
          </ion-list>
        </ion-card-content>
        <!--<ion-item>
          <button ion-button icon-left clear item-left (click)="addUser(userService.foundUser.uname)">
            <ion-icon name="add-circle"></ion-icon>
              Add Friend
          </button>
        </ion-item>-->
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header style="margin-bottom: 0%" color="light">All User List</ion-list-header>
    <ion-title *ngIf="!userService.usersList" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
    <div *ngFor="let u of userService.usersList">
    <ion-item *ngIf="u.uname != userService.username" (click)="userDetails(u.uname)">
      <ion-avatar item-left>
        <img *ngIf="u.dp" [src]="u.dp"/>
        <img *ngIf="!u.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg"/>
      </ion-avatar>
      {{ u.uname }}
    </ion-item>
    </div>
  </ion-list>
</ion-content>
