<ion-header>

  <ion-navbar color="secondary">
    <ion-title (tap)="changeChannel($event)">User Settings</ion-title>
    <ion-buttons end>
        <button ion-button clear (click)="dismiss()">Close
            <ion-icon name="close-circle" padding-left></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">
  <ion-card style="background-color: #333; display:block; position: relative; margin: auto; padding-top: 5%; padding-bottom: 5%; margin-bottom: 10%; width: 100%" >
    <img style="display:block; position: relative; border-radius: 50%; height: 50%;  width: 50%; margin: auto;" *ngIf="userService.player.dp" [src]="userService.player.dp"/>
    <img style="display:block; position: relative; border-radius: 50%; height: 50%; width: 50%; margin: auto;" *ngIf="!userService.player.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg" />
    <ion-item style="background-color: transparent; margin-top: -12%; padding-right: 25%;">
        <button style="padding: 5%" ion-button icon-only round item-right color="secondary" (click)="changeDP()">
          <ion-icon name="camera"></ion-icon>
        </button>
    </ion-item>   
  </ion-card>
  <ion-list no-lines>
    <ion-list-header style="margin-bottom: 0%" color="light" ><p>Settings</p></ion-list-header>
    <ion-item (click)="moreSettings( 'i' )">
      <ion-icon item-left name="color-wand"></ion-icon>
      Interest
    </ion-item>
    <ion-item (click)="moreSettings( 'd' )">
      <ion-icon item-left name="information-circle"></ion-icon>
      Details
    </ion-item>
    <ion-item style="color: #f53d3d" (click)="deleteAccount()">
      <ion-icon item-left name="trash"></ion-icon>
      Delete Account
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer style="background-color: slateblue; color: whitesmoke" (press)="deleteSnapshots()" text-center>
  <h3 *ngIf="update == undefined" (click)="checkUpdate()">Check Updates <ion-icon name="refresh-circle"></ion-icon></h3>
  <h3 *ngIf="update == 'updating'">Checking Updates <ion-icon class="rotate" name="refresh-circle"></ion-icon></h3>
  <h3 *ngIf="update == true" (click)="downloadUpdate()" >Download New Updates</h3>
  <h3 *ngIf="update == 'downloading'">Downloading Updates <ion-icon class="rotate" name="refresh-circle"></ion-icon></h3>
  <h3 *ngIf="update == 'patch'">Patching Updates <ion-icon class="rotate" name="refresh-circle"></ion-icon></h3>
  <h3 *ngIf="update == 'load_update'" (click)="applyUpdate()" >Patching Completed</h3>
  <h3 *ngIf="update == false" (click)="resetUpdate()" >No Updates Available</h3>
</ion-footer>
