<ion-header>

  <ion-navbar color="secondary">
    <ion-title>MyGroups</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button clear (click)="presentProfileModal()">Create
        <ion-icon name="people" padding-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222">
    <ion-title *ngIf="!userService.groupsList" padding-top ><ion-spinner color="primary"></ion-spinner></ion-title>
    <ion-list *ngIf="userService.groupsList">
      <ion-label *ngIf="err[0] == 0 || err[1] == 0" text-center style="color: whitesmoke" ><h3>No Data Found</h3></ion-label>
      <ion-list-header style="margin-bottom: 0%" *ngIf="err[0] != 0" color="light">Your Groups</ion-list-header>
      <!--<ion-label *ngIf="err[0] == 0" text-center style="color: whitesmoke" ><h3>No Data Found</h3></ion-label>-->
      <div *ngFor="let g of userService.groupsList" >
        <ion-item-sliding #item *ngIf="g.mem_type == 'leader'" >
          <ion-item (click)="groupDetails(g)">
            {{ g.group_name }}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeGroup(g.group_name)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
      <ion-list-header style="margin-bottom: 0%" *ngIf="err[1] != 0" color="light">Groups You're In</ion-list-header>
      <!--<ion-label *ngIf="err[1] == 0" text-center style="color: whitesmoke" ><h3>No Data Found</h3></ion-label>-->
      <div *ngFor="let g of userService.groupsList" >
        <ion-item *ngIf="g.mem_type == 'member'" (click)="groupDetails(g)">
            {{ g.group_name }}
        </ion-item>
      </div>
    </ion-list>

</ion-content>