<ion-header>

  <ion-navbar color="secondary" no-border-bottom>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary" no-border-top>
    <ion-segment color="light" [(ngModel)]="eventSwitch">
      <ion-segment-button value="event">
        Event
      </ion-segment-button>
      <ion-segment-button value="gallery">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="participants">
        Participants
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: #222">
<div [ngSwitch]="eventSwitch" *ngIf="userService.eventDetails">
  <div *ngSwitchCase="'event'">
    <img id="img" *ngIf="userService.eventDetails.cover" [src]="userService.eventDetails.cover"/>
    <img id="img" *ngIf="!userService.eventDetails.cover" src="http://www.hvdesaicollege.org/uploads/Department/M.Sc%20Physics/noImageFound.jpg"/>
    <ion-item class="ev_button">
        <button style="padding: 5%" ion-button icon-only round item-right color="secondary" (click)="changeCover()">
          <ion-icon name="camera"></ion-icon>
        </button>
    </ion-item>
    <ion-slides effect=flip pager=true>
      <ion-slide>
        <ion-card class="details" ngSelected="selected">
          <ion-title *ngIf="!userService.eventDetails.event_name" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
          <ion-card-header class="margin" text-center>
            <ion-title><h1 style="color: whitesmoke;">{{userService.eventDetails.event_name}}</h1></ion-title>
            <p  style="color: lightgray;">{{ userService.eventDetails.event_date }}</p>
          </ion-card-header>
          <ion-card-content text-center>
            <ion-label text-wrap>{{userService.eventDetails.event_desc}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quod proximum fuit non vidit. At hoc in eo M. Duo Reges: constructio interrete. Cur, nisi quod turpis</ion-label>
          </ion-card-content>
          <ion-item style="background-color: #333">
            <ion-badge item-right>{{ userService.eventDetails.event_city }}</ion-badge>
            <ion-badge item-left>{{ userService.eventDetails.event_manager }}</ion-badge>
          </ion-item>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="details" ngSelected="selected">
          <ion-title *ngIf= "!userService.eventDetails.event_name"><ion-spinner color="primary"></ion-spinner></ion-title>
          <ion-card-header class="margin" text-center>
            <ion-title><h1 style="color: whitesmoke;">Details</h1></ion-title>
            <!--<p  style="color: lightgray;">{{ userService.eventDetails.event_date }}</p>-->
          </ion-card-header>
          <ion-card-content text-center>
            <ion-list-header color="light" ><p>Address</p></ion-list-header>
            <ion-item>
              <h3 text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quod proximum fuit non vidit. At hoc in eo M.</h3>
            </ion-item>
          </ion-card-content>
          <ion-item style="background-color: #333">
            <!--<ion-badge item-right>{{ userService.eventDetails.event_city }}</ion-badge>-->
            <ion-badge item-left>Locate</ion-badge>
          </ion-item>
        </ion-card>
      </ion-slide>
    </ion-slides>   
  </div>
  <div *ngSwitchCase="'gallery'">
    <ion-title *ngIf="!userService.eventMedia" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
    <div *ngIf="!toggleMediaView">
      <ion-grid *ngIf="userService.eventMedia">
        <ion-row *ngFor="let row of grid">
          <ion-col width-70 *ngFor="let file_uri of row">
            <div *ngFor="let t of userService.eventMedia">
            <div *ngIf="t.url == file_uri" style="text-align: center">
              <img height='120px' *ngIf="file_uri" [src]="file_uri" (click)="showImage( file_uri, t.event_desc )"/>
              <!--<p style="margin-top: 0px">Event Name: {{ t.event_name }}</p>-->
            </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="toggleMediaView">
      <!--<ion-grid *ngIf="userService.eventMedia">
        <ion-row *ngFor="let m of userService.eventMedia">
          <ion-col >-->
            <img [src]="file" (click)="mediaViewSwitch(null)">
          <!--</ion-col>
        </ion-row>
      </ion-grid>-->
    </div>
  </div>
  <div *ngSwitchCase="'participants'">
    <ion-title *ngIf="!userService.eventParticipant"><ion-spinner color="primary"></ion-spinner></ion-title>
    <ion-list *ngIf="userService.eventParticipant">
      <ion-list-header style="margin-bottom: 0%" color="light">Individual</ion-list-header>
      <div *ngFor="let e of userService.eventParticipant">
        <ion-item-sliding *ngIf="e.type == 'indi'" #item>
          <ion-item  (click)=" userDetails(e.uname) " >
            <ion-avatar item-left>
              <img *ngIf="e.dp" [src]="e.dp">
              <img *ngIf="!e.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg">
            </ion-avatar>
            {{ e.uname }}
          </ion-item>
          <ion-item-options side="right">
            <button ion-button (click)="setLeader(userService.eventDetails.ev_id, e.user_id)">Lead</button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
    <ion-list *ngIf="userService.eventParticipant">
      <ion-list-header style="margin-bottom: 0%" color="light">Groups</ion-list-header>
      <div *ngFor="let e of userService.eventParticipant">
        <ion-item-sliding *ngIf="e.type == 'group'" #itemx>
        <ion-item  (click)=" groupDetails(e.group_name) " >
          <ion-avatar item-left><img src="http://icons.iconarchive.com/icons/blackvariant/button-ui-system-folders-alt/512/Group-icon.png"></ion-avatar>
          {{ e.group_name }}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="setLeader(userService.eventDetails.ev_id, e.group_id)">Lead</button>
        </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>
</div>
</ion-content>

<ion-footer [ngSwitch]="eventSwitch">
  <div *ngSwitchCase="'gallery'">
    <ion-title *ngIf='userService.attendance == true'>
      <button ion-button full color="secondary" (click)="addPic()">Add Pic</button>
    </ion-title>
  </div>
</ion-footer>

<div [ngSwitch]="eventSwitch">
  <ion-pullup *ngSwitchCase="'event'" (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
    <ion-pullup-tab style="background-color: #32db64" [footer]="pullup" (tap)="toggleFooter()">
      <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon><ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
    </ion-pullup-tab>
    <ion-toolbar color="secondary" *ngIf="footerState == 1" (tap)="toggleFooter()">
        <ion-title text-center>
          Reviews
        </ion-title>
    </ion-toolbar>
    <ion-content style="background-color: #222;">

        <ion-list>
          <ion-title *ngIf="!userService.reviews"><ion-spinner color="primary"></ion-spinner></ion-title>
          <ion-label text-center style="color: whitesmoke" *ngIf="userService.reviews == 'err'"><h3>No Reviews Available</h3></ion-label>
          <div *ngIf="userService.reviews && userService.reviews != 'err'">
          <ion-item *ngFor="let r of userService.reviews" >
              <ion-avatar item-left>
                <img *ngIf="r.dp" [src]="r.dp">
                <img *ngIf="!r.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg">
              </ion-avatar>{{ r.uname }}
              <p>{{ r.review }}</p>
          </ion-item>
          </div>
        </ion-list>

    </ion-content>

    <ion-footer *ngIf='userService.attendance == true'>
        <button ion-button full clear color="secondary" (click)="submitReview()">Add Review</button>
    </ion-footer>
    
  </ion-pullup>
</div>

