page-event-details {

ion-spinner {
    display: block;
    margin: auto;
}

img #img {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 5%;
}

.details {
    background-color: #333;
    display: block;
    margin: auto;
    width: 93%;
    color: whitesmoke;
}

.ev_button {
    background-color: transparent;
    margin-top: -9%;
    padding-right: 10%;
}

.margin {
    margin-bottom: -4%;
}

}
