<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Event Category</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">

  <ion-card style="background-color: #333; color: whitesmoke" (click)="openEventList('clean')" >
      <img icon width="100%" height="60%" alt="clean-logo" src="assets/img/clean.jpg"/>
      <ion-card-content primary>
          <h1 style="margin-top: 0px; color: whitesmoke">Cleaning</h1>
      </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #333; color: whitesmoke" (click)="openEventList('help')" >
      <img icon width="100%" height="60%" src="assets/img/help.jpg"/>
      <ion-card-content primary>
          <h1 style="margin-top: 0px; color: whitesmoke">Helping Hand</h1>
      </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #333; color: whitesmoke" (click)="openEventList('donate')" >
      <img icon width="100%" height="60%" src="assets/img/donate.jpg"/>
      <ion-card-content primary>
          <h1 style="margin-top: 0px; color: whitesmoke">Donate</h1>
      </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #333; color: whitesmoke" (click)="openEventList('camp')" >
      <img icon width="100%" height="60%" src="assets/img/camp.jpg"/>
      <ion-card-content primary>
          <h1 style="margin-top: 0px; color: whitesmoke">Camps</h1>
      </ion-card-content>
  </ion-card>

</ion-content>
