page-event-category {

// .grid1{
//      margin-top: -20px !important;
//      margin-left: -20px !important;
//      margin-right: -20px !important;
//      position: relative;
//      color: whitesmoke;
//      background-image: url(http://ste.india.com/sites/default/files/2016/06/06/496287-clean-india-700-2.jpg);
//      background-size: cover;
// }

ion-card {
    position: relative;
    text-align: center;
  }

h1 {
  position: relative;
  text-align: center;
}

}
