page-user-profile {

ion-spinner {
    display: block;
    margin: auto;
} 

.dp-bg {
    // background: url(http://www.planwallpaper.com/static/images/6959843-cool-vintage-backgrounds.jpg);
    background-color: cornflowerblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 10%;
    width: 100%;
}
.dp-bg ion-avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dp {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.username {
    color: whitesmoke;
}

}
