<ion-header>

  <ion-navbar color="secondary">
    <ion-title *ngIf="type == 'indi'">User Profile</ion-title>
    <ion-title *ngIf="type == 'group'">Group Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">
  <ion-title *ngIf="!userService.userProfile" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
  <div *ngIf="userService.userProfile">
    <div class="dp-bg" *ngIf="type =='indi'">
      <ion-avatar>
        <img *ngIf="userService.userProfile[0][0].dp" class="dp" [src]="userService.userProfile[0][0].dp">
        <img *ngIf="!userService.userProfile[0][0].dp" class="dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg">
      </ion-avatar>
      <ion-title #id ><p text-center class="username">{{ userService.userProfile[0].uname }}</p></ion-title>
    </div>
    <ion-card *ngIf="type == 'indi'">
      <ion-card-content>
        <ion-list>
          <ion-item>Full Name: {{ userService.userProfile[0][0].fullname }}</ion-item>
          <ion-item>Email: {{ userService.userProfile[0][0].email }}</ion-item>
          <ion-item>Phone No: {{ userService.userProfile[0][0].phone }}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-list *ngIf="type == 'indi'">
          <ion-list-header color="light">Activity</ion-list-header>
          <ion-item *ngFor='let act of userService.userProfile[1]'>{{ act.event_name }}</ion-item>
    </ion-list>
    <div *ngIf="type =='group'">
      <div *ngFor="let m of userService.userProfile[0]">
        <div class="dp-bg" *ngIf="m.mem_type == 'leader'">
          <ion-avatar>
            <img *ngIf="m.dp" class="dp" [src]="m.dp">
            <img *ngIf="!m.dp" class="dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg">
          </ion-avatar>
          <ion-title ><p class="username" text-center>{{ m.member }}</p></ion-title>
        </div>
      </div>
    </div>
    <ion-list *ngIf="type =='group'">
      <ion-list-header style="margin-bottom: 0%" color="light">Group Members</ion-list-header>
      <div *ngFor="let m of userService.userProfile[0]">
        <ion-item *ngIf="m.mem_type != 'leader'" >
          <ion-avatar item-left><img [src]="m.dp" /></ion-avatar>
          {{ m.member }}
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
