<ion-header>
  <ion-navbar color="secondary">
    <ion-title (tap)="tapEvent($event)" (press)="tapEvent( 're' )">
      Metta_Welfare
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #222">
  <div *ngIf="userService.logStatus == false || userService.logStatus == 'error'">
  <img style="display: block; margin: auto; height: 40%; width: 100%;" src="assets/img/MW.png"/>
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" clearInput></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
  <ion-col>
  <button ion-button round full (click)="login()">Login</button>
  </ion-col>
  <ion-col>
  <button ion-button full round color="secondary" [navPush]="registerPage">Register</button>
  </ion-col>
  </ion-row>
  </div>
  <div *ngIf="userService.logStatus == 'retry'">
    <ion-list>
    <ion-item>
      <ion-label (tap)="tapEvent($event)">Connection TimedOut, Reconnecting to</ion-label>
    </ion-item>
    </ion-list>
    <div padding>
    <p style="color: whitesmoke" (tap)="tapEvent( 're' )" text-center>{{ userService.server }} .. </p>
    <ion-title><ion-spinner color="primary"></ion-spinner></ion-title>
    </div>
  </div>
</ion-content>