<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Attendance</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222">
  <ion-title *ngIf="!userService.event_leader" padding-top><ion-spinner color="primary"></ion-spinner></ion-title>
  <ion-list *ngIf="userService.event_leader">
    <ion-item color="secondary">
      <div text-center *ngIf=" selectedEvent == 'Tap to Select Event' " (click)="event()">
        {{ selectedEvent }}
      </div>
      <div text-center *ngIf=" selectedEvent != 'Tap to Select Event' " (click)="event()">
        {{ selectedEvent.event_name }}
      </div>
    </ion-item>  
  </ion-list>
  <ion-item *ngIf=" selectedEvent != 'Tap to Select Event' " style="background-color: #444; display: block; margin: auto; align-content: center">
    <ion-input type="number" text-center style="background-color: #444" [(ngModel)]="userService.scanData" clearOnEdit [value]="userService.scanData" placeholder="Scan Card" ></ion-input>
  </ion-item>
  <ion-fab bottom right>
    <button ion-fab color="light" (press)="fpAuth()" (click)="takeAttendance( selectedEvent.ev_id )"><ion-icon name="barcode"></ion-icon></button>
  </ion-fab>
</ion-content>
