<ion-header>

  <ion-navbar color="secondary">
    <ion-title *ngIf="!addMemberToggle">Create Group</ion-title>
    <ion-title *ngIf="addMemberToggle">Add Member</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="dismiss()">Close
        <ion-icon name="close-circle" padding-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222">
  <div *ngIf="!addMemberToggle">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Enter Group Name</ion-label>
        <ion-input type="string" [(ngModel)]="groupName"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full color="secondary" (click)="addGroupMember()">Add Members
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
      <div *ngIf="userService.groupMember != false">
      <ion-item *ngFor="let u of userService.groupMember">
        {{ u.uname }}<ion-icon name="close-circle" (click)="removeUser(u.uname)" padding-left></ion-icon>
      </ion-item>
      </div>
    </ion-list>
  </div>
  <div *ngIf="addMemberToggle">
    <ion-searchbar (ionInput)="findUser($event)"></ion-searchbar>
    <ion-list *ngIf="userService.foundUser">
      <ion-item>
        <ion-title *ngIf="userService.foundUser != 404" padding> Found Username {{ userService.foundUser.uname }}</ion-title>
        <ion-title *ngIf="userService.foundUser == 404" padding>User Not Found</ion-title>
      </ion-item>
      <ion-item *ngIf="userService.foundUser != 404">
        <ion-card>
          <ion-card-header>
            <ion-title>Username: {{ userService.foundUser.uname }}</ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                Name: {{ userService.foundUser.fullname }}
              </ion-item>
              <ion-item>
                Email: {{ userService.foundUser.email }}
              </ion-item>
              <ion-item>
                Phone No: {{ userService.foundUser.phone }}
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-item>
            <button ion-button icon-left clear item-left (click)="addUser(userService.foundUser.uname)">
              <ion-icon name="add-circle"></ion-icon>
                Add Member
            </button>
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header  style="margin-bottom: 0%" color="light">All User List</ion-list-header>
      <ion-label *ngIf="userService.usersList == 'err'"><h3>No User Data Available</h3></ion-label>
      <ion-title *ngIf="!userService.usersList && userService.usersList != 'err'"><ion-spinner color="primary"></ion-spinner></ion-title>
      <div *ngFor="let u of userService.usersList">
      <ion-item *ngIf="u.uname != this.userService.username">
        <ion-avatar item-left>
          <img *ngIf="u.dp" [src]="u.dp"/>
          <img *ngIf="!u.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg"/>
        </ion-avatar>
        {{ u.uname }} <ion-icon  item-right name="add-circle" padding-left (click)="addUser(u.uname)"></ion-icon>
      </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-title>
    <button *ngIf="addMemberToggle && callFrom =='myGroup' " ion-button full clear color="primary" (click)="addGroupMember()">
      <h3>Back</h3>
    </button>
    <!--<button *ngIf="addMemberToggle && callFrom =='groupInfo' " ion-button full clear color="light" (click)="addUser( null )">
      <h3>Back</h3>
    </button>-->
    <button *ngIf="!addMemberToggle" ion-button full clear color="primary" (click)="createGroup()">
      <h3>Create Group</h3>
    </button>
  </ion-title>
</ion-footer>
