<ion-menu [content]="content" side="left">

  <ion-header>

    <ion-toolbar color="secondary">
      <ion-buttons *ngIf="myWelfare">
        <button ion-button clear (click)="toggleMenu()">
          <ion-icon name="arrow-back"></ion-icon>
          <ion-title>
            BACK
          </ion-title>
        </button>
      </ion-buttons>
      <ion-title *ngIf="!myWelfare">
        MENU
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content style="background-color: #222; color: whitesmoke" >

    <ion-list no-lines>

      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(userPage)">
        <ion-icon iteml-left name="home" padding-right></ion-icon> Home
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(eventCategory)">
        <ion-icon iteml-left name="rose" padding-right></ion-icon> Events
      </button>
      <button style="background-color: #222; color: whitesmoke" ion-item *ngIf="!myWelfare" (click)="toggleMenu()">
        <ion-icon name="medical" padding-right></ion-icon> MyWelfare
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(findUserPage)">
        <ion-icon name="search" padding-right></ion-icon> Find User
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(galleryPage)">
        <ion-icon name="images" padding-right></ion-icon> Gallery
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(attendance)">
        <ion-icon name="hand" padding-right></ion-icon> Attendance
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare" (click)="openPage(requestPage)">
        <ion-icon name="help-circle" padding-right></ion-icon> Request
      </button>
      <!--<button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="!myWelfare">
        <ion-icon name="information-circle" padding-right></ion-icon> About Us
      </button>-->
      <ion-list-header *ngIf="myWelfare" color="light"><p>MyWelfare</p></ion-list-header>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="myWelfare" (click)="openPage(myEventsPage)">
        <ion-icon iteml-left name="rose" padding-right></ion-icon> My Events
      </button>
      <button style="background-color: #222; color: whitesmoke" menuClose ion-item *ngIf="myWelfare" (click)="openPage(myGroupsPage)">
        <ion-icon name="people" padding-right></ion-icon> My Group
      </button>

    </ion-list>
    <ion-footer (click)="logout()" menuToggle>
        <button clear ion-button full color="danger" >Logout</button>
    </ion-footer>

  </ion-content>

</ion-menu>
<!--<ion-menu [content]="content" side="right">

  <ion-header>

    <ion-toolbar>
      <ion-title>NewsFeed</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Fetching Updates...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="userService.notify">
        <ion-item-sliding *ngFor="let p of userService.notify">
            <ion-item>
                <h2>{{ p.name }}</h2>
                <p>{{ p.type }}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button danger side="right"><ion-icon trash></ion-icon> Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-label *ngIf="userService.notify == false || !userService.notify">
        <p style="text-align: center">Pull Down To Refresh</p>
        <h2>NO UPDATES FOUND !</h2>
    </ion-label>

  </ion-content>
  <ion-footer *ngIf="userService.notify != false" >
      <button ion-button full color="light" (click)="clearNotify()">Clear All</button>
  </ion-footer>

</ion-menu>-->
<ion-nav #content [root]="rootPage"></ion-nav>