<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Group Info</ion-title>
    <ion-buttons end>
      <button ion-button clear *ngIf="groupLeader" (click)="presentProfileModal()">Add
        <ion-icon name="people" padding-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #222">
  <ion-list>
    <ion-list-header style="margin-bottom: 0%" color="light">{{ group.group_name }} <p *ngIf="leader" item-right>Lead: {{ leader }}</p></ion-list-header>
    <ion-title *ngIf="!userService.groupInfo"><ion-spinner color="primary"></ion-spinner></ion-title>
    <div *ngIf="userService.groupInfo && groupLeader">
      <ion-item-sliding #item *ngFor="let g of userService.groupInfo">
        <ion-item (click)="userDetails(g.member)" >
          {{ g.member }} <p *ngIf="g.mem_type == 'leader'">Leader</p>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeGroupMember(g.member,g.group_name)">Delete</button>
          </ion-item-options>
      </ion-item-sliding>
    </div>
    <div *ngIf="userService.groupInfo && !groupLeader">
      <ion-item *ngFor="let g of userService.groupInfo" (click)="userDetails(g.member)" >
          {{ g.member }} <p *ngIf="g.mem_type == 'leader'">Leader</p>
      </ion-item>
    </div>
    <ion-list-header style="margin-bottom: 0%" color="light">Events Active in</ion-list-header>
    <ion-label text-center style="color: whitesmoke" *ngIf="userService.groupEventsList == 'err'"><h3>No Event Available</h3></ion-label>
    <ion-title *ngIf="!userService.groupEventsList && userService.groupEventsList != 'err' "><ion-spinner color="primary"></ion-spinner></ion-title>
    <div *ngIf="userService.groupEventsList && userService.groupEventsList != 'err'">
      <ion-item-sliding #item *ngFor="let e of userService.groupEventsList">
        <ion-item (click)="eventDetails(e.ev_id)" >
          {{ e.event_name }}
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeGroupEvent(e.event_name)">Delete</button>
          </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
  
</ion-content>
<ion-footer>
  <button ion-button full (click)="joinEvent()" >Join Event</button>
</ion-footer>
