<ion-header>

  <ion-navbar color="secondary">
    <ion-title>MyWelfare</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222" padding>

  <ion-list>
    <ion-item (click)="openMyZone('events')">
      My Events
    </ion-item>
    <ion-item (click)="openMyZone('groups')">
      My Groups
    </ion-item>
  </ion-list>

</ion-content>
