<ion-header>

  <ion-navbar color="secondary" hideBackButton>
    <ion-title (tap)="tapEvent($event)">Home</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="profile()">
          <img class="dp" margin-right *ngIf="player.dp" [src]="player.dp" />
          <img class="dp" margin-right *ngIf="!player.dp" src="http://www.iiserpune.ac.in/~mahesh.ts/_member_images/default_boy.jpg" />
          {{ player.uname }}
    </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222" >
  <ion-list>
    <ion-item class="welcome">
      <h1>Welcome {{ player.fullname  }}</h1>
    </ion-item>
  </ion-list>
  <ion-card class="repo">  

     <ion-card-header text-center>
        <h1>Repo Points: </h1>
        <ion-badge item-right>{{ player.repo }} rep</ion-badge>
     </ion-card-header>
    <ion-list no-lines>
      <ion-item>
          <h1 item-left>Current: 
          <ion-spinner *ngIf="!activein" color="primary"></ion-spinner>
          <ion-badge *ngIf="activein" item-right>{{ activein }}</ion-badge></h1>

          <h1 item-right>Participated: 
          <ion-spinner *ngIf="!allEvents" color="primary"></ion-spinner>
          <ion-badge *ngIf="allEvents" item-right>{{ allEvents }}</ion-badge></h1>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h1>Welcome {{player.fullname}}</h1>  
    </ion-card-header>
    <ion-card-content *ngIf="textShow">
      <ion-list>
        <ion-item>
          <ion-label>User Name: <span padding>{{player.uname}}</span></ion-label>

        </ion-item>
        <ion-item>
          <ion-label>Email: <span padding>{{player.email}}</span></ion-label>

        </ion-item>
        <ion-item>
          <ion-label>Phone: <span padding>{{player.phone}}</span></ion-label>

        </ion-item>
        <ion-item>
          <ion-label>Status: <span padding>{{player.statusx}}</span></ion-label>

        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf="!textShow">
      <ion-list>
        <ion-item>
          <ion-label>User Name: </ion-label>
          <ion-input type="string" [(ngModel)]="player.uname" clearInput>{{player.uname}}</ion-input>

        </ion-item>
        <ion-item>
          <ion-label>Email: </ion-label>
          <ion-input type="string" [(ngModel)]="player.email" clearInput>{{player.email}}</ion-input>

        </ion-item>
        <ion-item>
          <ion-label>Phone: </ion-label>
          <ion-input type="number" [(ngModel)]="player.phone" clearInput>{{player.phone}}</ion-input>

        </ion-item>
        <ion-item>
          <ion-label>Status: </ion-label>
          <ion-input type="string" [(ngModel)]="player.statusx" clearInput>{{player.statusx}}</ion-input>

        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-item>
      <button *ngIf="textShow" ion-button icon-left clear item-left (click)="edit()">
      <ion-icon name="md-create"></ion-icon>
      Edit
    </button>
      <button *ngIf="!textShow" ion-button icon-left clear item-left (click)="edit()">
      <ion-icon name="md-done-all"></ion-icon>
      Save
    </button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <p>MettaWelfare</p>
</ion-footer>

<ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
    <ion-pullup-tab style="background-color: #32db64" [footer]="pullup" (tap)="toggleFooter()">
      <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon><ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
    </ion-pullup-tab>
    <ion-toolbar color="secondary" (tap)="toggleFooter()">
        <ion-title text-center>
          NewsFeed
        </ion-title>
    </ion-toolbar>
    <ion-content style="background-color: #222">

        <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Fetching Updates...">
        </ion-refresher-content>
        </ion-refresher>

        <ion-list *ngIf="userService.notify">
            <ion-item-sliding *ngFor="let p of userService.notify">
                <ion-item>
                    <h2>{{ p.name }}</h2>
                    <p>{{ p.type }}: {{ p.tag }}</p>
                </ion-item>
                <ion-item-options>
                    <button ion-button danger side="right"><ion-icon trash></ion-icon>Delete</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        
        <ion-label style="text-align: center; color: whitesmoke" *ngIf="userService.notify == false || !userService.notify">
            <p>Pull Down To Refresh</p>
            <h2 text-center>NO UPDATES FOUND !</h2>
        </ion-label>

    </ion-content>

    <ion-footer *ngIf="userService.notify != false" >
      <button ion-button full clear (click)="clearNotify()">Clear All</button>
    </ion-footer>
    
</ion-pullup>