page-user {

@import url('https://fonts.googleapis.com/css?family=Revalia');

ion-spinner * {
  margin-top: 40%;
  width: 15px;
  height: 15px;
}

.dp {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.welcome {
    background-color: transparent;
    text-align: center;
    font-family: 'Revalia', cursive;
    padding-top: 5%;
    font-size: 150%;
    color: red;
    padding-bottom: 5%;
    text-shadow: 1px 1px whitesmoke;
    animation: scrollit 5s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes scrollit {
    from {left: -10%;}
    to {left: 10%;}
} 

.repo {
    color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10%;
}

}
