<ion-header>

  <ion-navbar color="secondary">
    <ion-title>All Users</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: #222" padding>
  <ion-card *ngFor="let p of array" [ngSwitch]="see.uname">
    <ion-card-header id="{{p.uname}}" (click)="scroll(p)">
      <h1>{{p.uname}}</h1>
    </ion-card-header>
    <div *ngIf="seeUserStatus">
      <ion-card-content *ngSwitchCase="p.uname">
        <ion-list>
          <ion-item>
            <ion-label>User Name: <span padding>{{see.uname}}</span></ion-label>

          </ion-item>
          <ion-item>
            <ion-label>Email: <span padding>{{see.email}}</span></ion-label>

          </ion-item>
          <ion-item>
            <ion-label>Phone: <span padding>{{see.phone}}</span></ion-label>

          </ion-item>
          <ion-item>
            <ion-label>Status: <span padding>{{see.statusx}}</span></ion-label>

          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item *ngSwitchCase="p.uname">
        <button ion-button icon-left clear item-left (click)="seeUser(false)">
          <ion-icon name="arrow-back"></ion-icon>
            Close
        </button>
      </ion-item>
    </div>
  </ion-card>
</ion-content>