page-event-list {

// .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  // .card-title {
  //   position: absolute;
  //   top: 40%;
  //   font-size: 2.0em;
  //   width: 100%;
  //   font-weight: bold;
  //   color: #fff;
  // }

  // .card-subtitle {
  //   font-size: 1.0em;
  //   position: absolute;
  //   top: 52%;
  //   width: 100%;
  //   color: #fff;
  // }

// }

ion-spinner {
    display: block;
    margin: auto;
}

}
