<ion-header>
  <ion-navbar color="secondary" no-border-bottom>
    <ion-title>All Events List</ion-title>
    <ion-buttons end>
        <button ion-button clear padding-left (press)="adminUser()" (click)="presentPopover($event)">
            <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #222" padding>
  <!--<ion-searchbar [(ngModel)]="filterTerm" (ionInput)="setFilteredItems( filterTerm )"></ion-searchbar>-->
  <ion-title *ngIf="!events"><ion-spinner color="primary"></ion-spinner></ion-title>
  <ion-label *ngIf="events == 'err'"><h3>No Events Available</h3></ion-label>
  <div *ngIf="events && events != 'err' && callFrom != 'interest'">
    <ion-card style="background-color: #333" *ngFor="let p of events">
      
      <ion-item style="background-color: #333" primary>
        <!--<p style="color: whitesmoke" item-right *ngIf="!btnShow">Participant:<br><ion-badge item-right>12k</ion-badge></p>-->
        <ion-avatar item-left>
          <img *ngIf="p.category == 'clean'" src="assets/img/clean.jpg"/>
          <img *ngIf="p.category == 'help'" src="assets/img/help.jpg"/>
          <img *ngIf="p.category == 'donate'" src="assets/img/donate.jpg"/>
          <img *ngIf="p.category == 'camp'" src="assets/img/camp.jpg"/>
        </ion-avatar>
        <h2 style="color: whitesmoke">{{p.event_name}}</h2>
        <p style="color: whitesmoke">{{p.event_city}}</p>
      </ion-item>
      
      <img (click)="eventDetails(p.event_name,p.ev_id)" *ngIf="!p.cover" icon width="100%" height="70%" src="https://www.residentadvisor.net/images/labels/welfare.jpg"/>
      <img (click)="eventDetails(p.event_name,p.ev_id)" *ngIf="p.cover" icon width="100%" height="70%" [src]="p.cover"/>

      <ion-card-content>
        <h3 style="color: whitesmoke">{{ p.event_desc }}</h3>
        <p style="color: whitesmoke">( {{ p.event_date }} )</p>
      </ion-card-content>

      <ion-item style="background-color: #333">
        <button ion-button icon-left clear item-left (click)="eventDetails(p.event_name,p.ev_id)">
          <ion-icon name="arrow-back"></ion-icon>
            More
        </button>
        <button ion-button icon-left clear item-left *ngIf="!btnShow" (click)="joinRequest(p.ev_id)">
            <ion-icon name="person-add"></ion-icon>
              Request
        </button>
        <button ion-button icon-left clear item-right *ngIf="!btnShow && userService.player.user_id == p.event_manager" (click)="setEventStatus( p.ev_id )">
            <ion-icon name="pulse"></ion-icon>
              Status
        </button>
        <button ion-button icon-left clear item-left *ngIf="btnShow" (click)="editEvent(p.event_name)">
            <ion-icon name="md-create"></ion-icon>
              Edit
        </button>
        <button ion-button icon-left clear item-left *ngIf="btnShow" (click)="deleteEvent(p.event_name)">
            <ion-icon name="trash"></ion-icon>
              Delete
        </button>
      </ion-item>

    </ion-card>
  </div>
  <div *ngIf="events && events != 'err' && callFrom == 'interest'">
    <ion-card style="background-color: #333" *ngFor="let p of events">
      
      <ion-item style="background-color: #333" primary>
        <!--<p style="color: whitesmoke" item-right *ngIf="!btnShow">Participant:<br><ion-badge item-right>12k</ion-badge></p>-->
        <ion-avatar item-left>
          <img *ngIf="p.category == 'clean'" src="assets/img/clean.jpg"/>
          <img *ngIf="p.category == 'help'" src="assets/img/help.jpg"/>
          <img *ngIf="p.category == 'donate'" src="assets/img/donate.jpg"/>
          <img *ngIf="p.category == 'camp'" src="assets/img/camp.jpg"/>
        </ion-avatar>
        <h2 style="color: whitesmoke">{{p.event_name}}</h2>
        <p style="color: whitesmoke">{{p.event_city}}</p>
      </ion-item>
      
      <img (click)="eventDetails(p.event_name,p.ev_id)" *ngIf="!p.cover" icon width="100%" height="70%" src="https://www.residentadvisor.net/images/labels/welfare.jpg"/>
      <img (click)="eventDetails(p.event_name,p.ev_id)" *ngIf="p.cover" icon width="100%" height="70%" [src]="p.cover"/>

      <ion-card-content>
        <h3 style="color: whitesmoke">{{ p.event_desc }}</h3>
        <p style="color: whitesmoke">( {{ p.event_date }} )</p>
      </ion-card-content>

      <ion-item style="background-color: #333">
        <button ion-button icon-left clear item-left (click)="eventDetails(p.event_name,p.ev_id)">
          <ion-icon name="arrow-back"></ion-icon>
            More
        </button>
        <button ion-button icon-left clear item-left *ngIf="!btnShow" (click)="joinRequest(p.ev_id)">
            <ion-icon name="person-add"></ion-icon>
              Request
        </button>
        <button ion-button icon-left clear item-right *ngIf="!btnShow && userService.player.user_id == p.event_manager" (click)="setEventStatus( p.ev_id )">
            <ion-icon name="pulse"></ion-icon>
              Status
        </button>
        <button ion-button icon-left clear item-left *ngIf="btnShow" (click)="editEvent(p.event_name)">
            <ion-icon name="md-create"></ion-icon>
              Edit
        </button>
        <button ion-button icon-left clear item-left *ngIf="btnShow" (click)="deleteEvent(p.event_name)">
            <ion-icon name="trash"></ion-icon>
              Delete
        </button>
      </ion-item>

    </ion-card>
  </div>
</ion-content>
<ion-footer *ngIf="btnShow">
  <ion-title>
    <button ion-button full color="secondary" (click)="addEvent()">Add Event</button>
  </ion-title>
</ion-footer>