<ion-header>

    <ion-navbar color="secondary">
        <ion-title>Newsfeed</ion-title>
        <ion-buttons end>
        <button ion-button clear (click)="dismiss()">Close
            <ion-icon name="close-circle" padding-left></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content style="background-color: #222" padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Fetching Updates...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="userService.notify">
        <ion-item-sliding *ngFor="let p of userService.notify">
            <ion-item>
                <h2>{{ p.name }}</h2>
                <p>{{ p.type }}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button danger side="right"><ion-icon trash></ion-icon> Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    
    <ion-label *ngIf="userService.notify == false || !userService.notify">
        <p style="text-align: center">Pull Down To Refresh</p>
        <h2>NO UPDATES FOUND !</h2>
    </ion-label>

</ion-content>
<ion-footer *ngIf="userService.notify != false" >
    <button ion-button full color="light" (click)="clearNotify()">Clear All</button>
</ion-footer>
