<ion-header>

  <ion-navbar color="secondary">
    <ion-title>MyEvents</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <ion-toolbar color="secondary" no-border-top>
    <ion-segment color="light" [(ngModel)]="eventSwitch">
      <ion-segment-button value="current">
        Current
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
      <ion-segment-button value="pending">
        Pending
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content style="background-color: #222" class="card-background-page" padding>
  <ion-title *ngIf="!userService.myEvents"><ion-spinner color="primary"></ion-spinner></ion-title>
  <div [ngSwitch]="eventSwitch">
    <div *ngSwitchCase="'current'">
      <ion-label style="color: whitesmoke" text-center *ngIf="userService.myEvents && userService.myEvents[0].event_name == null" ><h3>No Data Found</h3></ion-label>
      <div *ngIf="userService.myEvents && userService.myEvents[0].event_name != null">
        <div *ngFor="let p of userService.myEvents">
          <ion-card style="background-color: #333" *ngIf="p.status == 'active'" [ngSwitch]="see.event_name">
            <ion-card-header id="{{p.event_name}}" (click)="scroll(p)" >
              <ion-item style="background-color: #333">
                <ion-avatar item-left>
                  <img *ngIf="p.category == 'clean'" src="assets/img/clean.jpg"/>
                  <img *ngIf="p.category == 'help'" src="assets/img/help.jpg"/>
                  <img *ngIf="p.category == 'donate'" src="assets/img/donate.jpg"/>
                  <img *ngIf="p.category == 'camp'" src="assets/img/camp.jpg"/>
                </ion-avatar>
                <h2 style="color: whitesmoke">{{p.event_name}}</h2>
                <ion-badge item-right>{{ p.status }}</ion-badge>
              </ion-item>
            </ion-card-header>

            <div *ngIf="seeEventStatus">
              <div *ngSwitchCase="p.event_name">
                <img *ngIf="p.cover" icon width="100%" height="70%" alt="p.ev_id" [src]="p.cover"/>
                <img *ngIf="!p.cover" icon width="100%" height="70%" alt="p.ev_id" src="https://www.residentadvisor.net/images/labels/welfare.jpg"/>
                <ion-card-content>
                  <!--<p style="color: whitesmoke">{{p.event_desc}}</p>-->
                </ion-card-content>
                <ion-item style="background-color: #333">
                  <button ion-button icon-left clear item-left (click)="eventDetails(p.ev_id)">
                    <ion-icon name="arrow-back"></ion-icon>
                      More
                  </button>
                  <button ion-button icon-left clear item-left (click)="deleteEvent(p.event_name)">
                    <ion-icon name="trash"></ion-icon>
                      Delete
                  </button>
                </ion-item>
              </div>
            </div>
          </ion-card>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'history'">
      <ion-label style="color: whitesmoke" text-center *ngIf="userService.myEvents && userService.myEvents[0].event_name == null" ><h3>No Data Found</h3></ion-label>
      <div *ngIf="userService.myEvents && userService.myEvents[0].event_name != null">
        <div *ngFor="let p of userService.myEvents">
          <ion-card style="background-color: #333" *ngIf="p.status == 'completed'"  [ngSwitch]="see.event_name">
            <ion-card-header id="{{p.event_name}}" (click)="scroll(p)" >
              <ion-item style="background-color: #333">
                <ion-avatar item-left>
                  <img *ngIf="p.category == 'clean'" src="assets/img/clean.jpg"/>
                  <img *ngIf="p.category == 'help'" src="assets/img/help.jpg"/>
                  <img *ngIf="p.category == 'donate'" src="assets/img/donate.jpg"/>
                  <img *ngIf="p.category == 'camp'" src="assets/img/camp.jpg"/>
                </ion-avatar>
                <h2 style="color: whitesmoke">{{p.event_name}}</h2>
                <ion-badge item-right>{{ p.status }}</ion-badge>
              </ion-item>
            </ion-card-header>

            <div *ngIf="seeEventStatus">
              <div *ngSwitchCase="p.event_name">
                <img *ngIf="p.cover" icon width="100%" height="70%" [src]="p.cover"/>
                <img *ngIf="!p.cover" width="100%" height="70%" src="http://www.residentadvisor.net/images/labels/welfare.jpg"/>
                <ion-card-content>
                  <!--<p style="color: whitesmoke"> {{p.event_desc}}</p>-->
                </ion-card-content>
                <ion-item style="background-color: #333">
                  <button ion-button icon-left clear item-left (click)="eventDetails(p.ev_id)">
                    <ion-icon name="arrow-back"></ion-icon>
                      More
                  </button>
                  <button ion-button icon-left clear item-left (click)="deleteEvent(p.event_name)">
                    <ion-icon name="trash"></ion-icon>
                      Delete
                  </button>
                </ion-item>
              </div>
            </div>
          </ion-card>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'pending'">
      <ion-label style="color: whitesmoke" text-center *ngIf="userService.myEvents && userService.myEvents[0].event_name == null" ><h3>No Data Found</h3></ion-label>
      <div *ngIf="userService.myEvents && userService.myEvents[0].event_name != null">
        <div *ngFor="let p of userService.myEvents">
          <ion-card style="background-color: #333" *ngIf="p.status == 'pending'"  [ngSwitch]="see.event_name">
            <ion-card-header id="{{p.event_name}}" (click)="scroll(p)" >
              <ion-item style="background-color: #333">
                <ion-avatar item-left>
                  <img *ngIf="p.category == 'clean'" src="assets/img/clean.jpg"/>
                  <img *ngIf="p.category == 'help'" src="assets/img/help.jpg"/>
                  <img *ngIf="p.category == 'donate'" src="assets/img/donate.jpg"/>
                  <img *ngIf="p.category == 'camp'" src="assets/img/camp.jpg"/>
                </ion-avatar>
                <h2 style="color: whitesmoke">{{p.event_name}}</h2>
                <ion-badge item-right>{{ p.status }}</ion-badge>
              </ion-item>
            </ion-card-header>

            <div *ngIf="seeEventStatus">
              <div *ngSwitchCase="p.event_name">
                <img *ngIf="p.cover" icon width="100%" height="70%" [src]="p.cover"/>
                <img *ngIf="!p.cover" width="100%" height="70%" src="http://www.residentadvisor.net/images/labels/welfare.jpg"/>
                <ion-card-content>
                  <!--<p style="color: whitesmoke"> {{p.event_desc}}</p>-->
                </ion-card-content>
                <ion-item style="background-color: #333">
                  <button ion-button icon-left clear item-left (click)="eventDetails(p.ev_id)">
                    <ion-icon name="arrow-back"></ion-icon>
                      More
                  </button>
                  <button ion-button icon-left clear item-left (click)="deleteEvent(p.event_name)">
                    <ion-icon name="trash"></ion-icon>
                      Delete
                  </button>
                </ion-item>
              </div>
            </div>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
